<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- Beans Declaration -->
	 <!--<import resource="spring/pool/connectionPoolBean.xml" />
	<import resource="spring/dao/newsDaoBean.xml" /> 
	<import resource="spring/dao/jpaNewsDaoBean.xml" />
	-->
	<import resource="spring/dao/hibernateNewsDaoBean.xml" />
	<import resource="spring/service/newsService.xml" />
	<import resource="spring/action/newsActionBean.xml" />
	<import resource="spring/action/localeActionBean.xml" />
	
</beans>